# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Python environment files
.python-version

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# Database
# =========================

*.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================

*.log

# =========================
# Node
# =========================

node_modules/
frontend/node_modules/

# Vite
frontend/dist/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Temporary files
# =========================

*.tmp
*.temp
*.bak